Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms-SQLAlchemy
bcrypt
email-validator==2.1.1
requests
Flask-Bootstrap
Flask-Moment
Flask-Mail
Flask-Migrate
Pillow
python-dotenv
opencv-python-headless
pydantic>=2.0
PyYAML>=6.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
dictdiffer==0.9.0
distro==1.9.0
dnspython==2.6.1